.top-bar {
  background: url('../images/header-bg.webp'), url('../images/header-bg.jpg');
  color: $white;
}

  .top-cta {
    text-align: right;
    h5 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
    .phone {
      font-size: 4rem;
      line-height: 4.5rem;
    }
  }